main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 100px;
    height: 100px;
    position: relative;
    content: '';
    margin-bottom: 10px;
}

.azul{
    background-color: blue;
}

.vermelho{
    background-color: red;
}

.amarelo{
    background-color: yellow;
}