main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.box-navegacao{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}

.botoes-navegacao{
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.setaInativa{
    cursor: default;
}

.slider{
    position: relative;
    height: 100%;
}

.slideAtivo1{
    right: 0%;
}

.slideAtivo2{
    right: 100%;
}

.slideAtivo3{
    right: 200%;
}

.slideAtivo4{
    right: 300%;
}

.imagem1{
    background: url(images/imagem_red.png) no-repeat center;
}

.imagem2{
    background: url(images/imagem_yellow.png) no-repeat center;
    left: 100%;
}

.imagem3{
    background: url(images/imagem_brown.png) no-repeat center;
    left: 200%;
}

.imagem4{
    background: url(images/imagem_blue.png) no-repeat center;
    left: 300%;
}

.box{
    width: 620px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    padding: 65px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnSaibaMais{
    cursor: pointer;
}

.linkRed{
    color: var(--red)
}

.linkYellow{
    color: var(--yellow)
}

.linkBrown{
    color: var(--brown)
}

.linkBlue{
    color: var(--blue)
}

@media(max-width: 1440px){

    h2 {
        font-size: 40px;
    }
    
    p {
        font-size: 18px;
    }
    
    a {
        font-size: 20px;
    }

    .box{
        width: 500px;
        height: 565px;
    }
}