.container {
    width: 100vw;
    display: grid;
    grid-template: auto / 2fr 1fr;
}

.main-video {
    width: 65vw;
    text-align: center;
}

.main-video-info {
    margin: 40px;
    text-align: left;
}

.aside {
    border: solid red;
    width: 35vw;
}