body {
    width: 100vw;
    min-height: 100vh;
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: var(--violet);
    background-size: cover;
}

.container{
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.container .header{
    margin: 0 80px;
    max-width: 1440px;
}

.container .header img{
    width: 205px;
}

.container .content{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.container .content .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .informations {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.container .content .informations h1{
    font-size: 2rem;
    margin: 10px 0;
}

.container .content .informations p{
    font-size: 1rem;
    margin: 20px 0;
}

.container .content .informations a{
    width: 200px;
    margin-top: 10px;
}

.social {
    max-width: 1440px;
    display: flex;
    justify-content: flex-end;
    padding: 0 80px;
}

.social i {
    color: #fff;
    font-size: 2.5rem;
    margin: 0 10px;
}

.social i:hover {
    color: var(--soft-magenta);
}

footer{
    display: none;
}

.attribution{
    font-size: 11px; text-align: center;
}
    
.attribution a{
    color: hsl(228, 45%, 44%);
}

@media (max-width: 768px){

    body{
        background: url('../images/bg-mobile.svg') center center no-repeat;
        background-color: var(--violet);
        background-size: cover;
    }

    .container .header{
        margin: 0 40px;
    }

    .container .content{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
        text-align: center;
    }

    .container .content .image img{
        width: 80%;
    }

    .container .content .informations {
        align-items: center;
        max-width: inherit;
    }

    .container .content .informations p{
        max-width: 320px;
    }

}

@media (max-width: 425px){

    body{
        background: url('../images/bg-mobile.svg') center center no-repeat;
        background-color: var(--violet);
        background-size: cover;
    }
    
    .container{
        flex-direction: column;
        justify-content: space-around;
    }
    
    .container .header{
        margin: 0 40px;
    }
    
    .container .header img{
        width: 100px;
    }
    
    .container .content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .container .content .image img{
        width: 80%;
    }
    
    .container .content .informations {
        align-items: center;
    }
    
    .container .content .informations h1{
        font-size: 1.3rem;
    }
    
    .container .content .informations p{
        max-width: 320px;
        font-size: 1rem;
        margin: 0;
    }
    
    .container .content .informations a{
        width: 150px;
    }
    
    .social {
        justify-content: center;
    }
    
    .social i {
        font-size: 2rem;
    }
}